<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h3 class="text-center mb-4">About Us</h3>
            <p class="lead">We are a team of book lovers who are passionate about keeping track of what we read. We created this reading journal to help others to discover new books to read and share there reviews.</p>
            <p class="lead">Our reading journal allows you to add books to your list, edit book details, delete books, and rate them. You can also view book details, including cover images, publication dates, and summaries.</p>
            <p class="lead">We hope you enjoy using our reading journal and that it helps you stay organized and inspired on your reading journey!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <p class="lead">Have a question or feedback? We'd love to hear from you! Please send us an <a href="mailto:m_mitkova121@abv.bg">email</a> and we'll get back to you as soon as possible.</p>
        </div>
    </div>
</div>