@model BookViewModel

<h3>Edit Book</h3>

<form asp-controller="Home" asp-action="EditBook">
    <label class="form-control-label" asp-for="Title"></label>
    <input class="form-control" asp-for="Title">

    <label class="form-control-label" asp-for="Author"></label>
    <input class="form-control" asp-for="Author">

    <label class="form-control-label" asp-for="Genre"></label>
    <input class="form-control" asp-for="Genre">

    <label class="form-control-label" asp-for="PictureURL"></label>
    <input class="form-control" asp-for="PictureURL">

    <label class="form-control-label" asp-for="Description"></label>
    <textarea class="form-control" asp-for=" Description"></textarea>

    <label class="form-control-label" asp-for="PublishDate"></label>
    <input class="form-control" asp-for="PublishDate" type="date">

    <input hidden asp-for="Id" />
    <br />
    <div>
        <button class="btn btn-primary">Edit Book</button>
        <button class="btn btn-outline-danger" type="button" data-toggle="modal" data-target="#delete-modal">Delete Book</button>
    </div>
</form>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure, you want to delete <b>@Model.Title</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteBook();">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteBook = () => {
        fetch('/Home/DeleteBook?bookId=' + @Model.Id)
        .then((response) => redirectToIndex())
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    const redirectToIndex = () => {
        window.location = "/Home/Index";
    }
</script>